.container {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.bg-black {
    background-color: rgb(65, 62, 62);
}

.bg-green {
    background-color: #e0ece4;
}

.color-yellow {
    color: #fafcc2 !important;
}

.color-orange {
    color: #f6d6ad;
}

.color-white {
    color: white;
}

.container div h3 {
    color:snow;
}

.hide {
    display: none;
    visibility: hidden;
}

.quizArea {
    border-radius: 2rem;
    background-color: #d8d3cd;
    margin: 0 auto;
    text-align: center;
    height: 30rem;
    padding: 3rem auto auto 10rem;
}

.userInfo {
    border-radius: 2rem;
    background-color: rgb(221, 217, 221);
    margin: 0 auto;
    text-align: center;
    height: 20rem;
    width: 30rem;
    padding: 0 auto;
}

.inputDisp {
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    display: inline-block;
    
}

.textSize {
    font-size: 1.5rem;
}

.divSize {
    height: 5rem;
    padding-top: 5%;
}

.set-margin {
    margin-top: 3%;
}

.color-red {
    color: red !important;
}

.color-green {
    color:  #91d18b;
}

.color-set {
    color: rgb(2, 16, 27);
}

.bg-red {
    background-color: rgba(201, 5, 5, 0.911);
}

.team-score {
    width: 100%;
    height: 5rem;
    margin-left: 35%;
    /* margin: 0; */
    padding: 0;
}

.qa-layout {
    margin: 10rem, auto, auto, 10rem;
    padding: 0 auto;
    text-align: left;
    font-size: 1rem;
    width: 80%;
    height: 80%;
}

.aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
}

aside {
    margin-bottom: 10px;
    margin-top: 10px;
}

.color-black {
    color: #393e46;
}

.color-grey {
    color: #f5f4f4;
}

button {
    outline-color: white !important;
    outline: none !important;
}